:root{

    --color-p-softorange: hsl(35, 77%, 62%);
    --color-p-softred: hsl(5, 85%, 63%);
    --color-n-offwhite: hsl(36, 100%, 99%);
    --color-n-grayishblue: hsl(233, 8%, 79%);
    --color-n-darkgrayishblue: hsl(236, 13%, 42%);
    --color-n-verydarkblue: hsl(240, 100%, 5%);
    --color-n-white: hsl(0, 0%, 100%);
    --color-n-black: hsl(0, 0%, 0%);
}
*{
    font-family: 'Inter', sans-serif;
    color: var(--color-n-darkgrayishblue);
    box-sizing: border-box;
}
.header-content, .icons, .nav, .logo{
    padding: 1% 0;
    padding-right: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    padding-left: 15%;
    display: flex;
    list-style: none;
    gap: 43px;
}
a{
    text-decoration: none;
}
.menu-icon{
    display: flex;
    width: 2em;
}
.menu-icon {
    display: none;
}
.icons{
    width: 6em;
}
.icons a img{  
    inline-size: 3em;
}
h1{
    text-align: left;
    font-size: 58px;
    line-height: 1;
    margin:0;
}
p{
    font-weight: 400;
    font-size: 15px;
    text-align: left;
}
.container{
    width: 100%;
    display: grid;
    gap: 1%;
    justify-content: center;
    grid-template-columns: 1fr 36%;
    padding: 2% 0%;
}
.mainfeed{
    padding: 1% 0;
    margin: 0;
    align-items: center;
}
.mainpost img{
    inline-size: 100%;
}
.principaltext{
    width: 100%;
    padding: 2% 0;
    display: grid;
    gap: 2%;
    justify-content: center;
    grid-template-columns:repeat(2, 1fr);
}
.maindescp p{
    margin: 0;
    padding-top: 4%;
    padding-bottom: 8%;
}
.relevantnews{
    margin: 1% 4%;
    background-color: var(--color-n-verydarkblue);   
}
.relevantnews h2{
    font-size: 40px;
    padding-left: 10%;
    color: var(--color-p-softorange);
}
.listnews{
    padding-right: 7%;
    color: var(--color-n-white);
    margin-bottom: 3%;
    padding-bottom: 3%;
}
.listnews p{
    color: var(--color-n-grayishblue);
}
.listnews ul{
    list-style: none;
}
.listnews a{
    font-weight: 700;
    font-size: 20px;
    color: var(--color-n-white);
}
.posts{
    align-items: center;
    width: 100%;
    display: grid;
    gap: 1%;
    justify-content: center;
    grid-template-columns: auto auto auto;
    padding: 2% 0;
}
.postbox{
    align-items: center;
    display: grid;    
    justify-content: center;
    grid-template-columns:1fr 3fr
}
.smallimg{
    width: 102px;
}
.postext{
    height: 130px;
    padding-left: 10%;
    width: 100%;
}
.postext h2{
    font-size: 32px;
    margin: 0;
    color: var(--color-n-grayishblue);
}
.postext a{
    color: var(--color-n-black);
    font-weight: 800;
    font-size: 18px;
    margin-top: 2%;
    margin-bottom: 0;
}
.postext p{
    line-height: 1.7;
}
.attribution{
    padding: 5%;
    display: block;
    float: left;
    box-sizing: border-box;
}
.listnews a:hover{
    color: var(--color-p-softorange);
}
a:hover{
    color: var(--color-p-softred);
}
.wrapper {
    padding-top: 2%;
    max-inline-size: 1110px;
    margin: auto;
}
h4, h3{
    color: var(--color-n-white);
}
h1, h2, h4{
    color: var(--color-n-black);
}
.button{
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 700;
    color: var(--color-n-white);
    width: 15em;
    margin: 3% 0;
    padding: 4% 8%;
    background-color: var(--color-p-softred);
}
.button:hover{
    color: var(--color-n-white);
    background-color: var(--color-n-black);
}
@media screen and (max-width: 800px) {
    .wrapper{
        margin: 0% 4%;
    }
    .responsive {
        flex-wrap: wrap;
        display: flex;
        width: 100%;    
    }
    .relevantnews, .postbox, .header{
        margin: 5% 0;
    }
    .postext{
        width: 100%;
    }
    .menu a{
        color: transparent
    }
    .menu{
        background-image: url(assets/images/icon-menu.jpg);
        width: 3em;
        height: 53px;
    }
}