:root{

    --color-p-softorange: hsl(35, 77%, 62%);
    --color-p-softred: hsl(5, 85%, 63%);
    --color-n-offwhite: hsl(36, 100%, 99%);
    --color-n-grayishblue: hsl(233, 8%, 79%);
    --color-n-darkgrayishblue: hsl(236, 13%, 42%);
    --color-n-verydarkblue: hsl(240, 100%, 5%);
    --color-n-white: hsl(0, 0%, 100%);
    --color-n-black: hsl(0, 0%, 0%);
}
*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    color: var(--color-n-darkgrayishblue);
}
.header{
    padding: 0 5%;
    box-sizing: border-box;
}
.header-content, .icons, .nav, .logo{
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    padding-left: 15%;
    display: flex;
    list-style: none;
    gap: 33px;
}
a{
    text-decoration: none;
}
.menu-icon{
    display: flex;
    width: 2em;
}
.menu-icon {
    display: none;
}
.icons{
    width: 6em;
}
.icons a img{  
    inline-size: 3em;
}
h1{
    font-size: 3em;
}
p{
    font-size: 16px;
}
:hover :link{
    color: black;
}
.container{
    box-sizing: border-box;
    padding: 5% 6%;
}
.mainfeed{
    padding: 3%;
    margin: 0;
    width: 50%;
    float: left;
    box-sizing: border-box;
    align-items: center;
}
.mainpost{
    text-align: center;
}
.mainpost img{

    inline-size: 100%;
}


.relevantnews{
    font-size: 1.5em;
    padding: 3%;
    width: 50%;
    float: left;
    box-sizing: border-box;
    display: block
}
.pro img:hover{
    opacity: 50%;   
}

.attribution{
    padding: 5%;
    display: block;
    float: left;
    box-sizing: border-box;
}
a:hover{
    color: var(--color-n-black);
    text-decoration: none;
}
.wraper {
    max-inline-size: 1110px;
    margin: auto;
    box-sizing: border-box;
}
h4, h3{
    color: var(--color-p-orange);
}
h1, h2{
    color: var(--color-n-black);
}
.before{
    color: var(--color-n-grayishblue);
    text-decoration: line-through;
}
.button{
    align-items: center;
    font-size: 17px;
    color: var(--color-n-white);
    box-sizing: border-box;
    width: 20em;
    margin: 3% 15%;
    padding: 3% 15%;
    border-radius: 0.5em;
    background-color: var(--color-p-orange);
}
.button img{
    inline-size: 1em;
    fill-opacity: var(--color-n-white);
}
.button:hover{
    color: var(--color-n-white);
    opacity: 50%;
}
@media screen and (max-width: 800px) {
    .product, .product-details{
        width: 100%;    
    }
    .menu ul {
        display: none;
    }
}